# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Build
build/
dist/
*.egg-info/

# Logs
data/logs/
*.log

# Database files
data/*.duckdb

# OS
.DS_Store
Thumbs.db

# notebooks
notebooks/ *.ipynb
